*
{
   font-family: 'Nunito Sans', 'Helvetica', sans-serif;
}

.wrapper
{
   margin: 0 auto;
   width: 1296px;
}

header
{
   &.desktop-view
   {
      background-color: #fff;
      padding-top: 8px;
      position: relattive;

      .logo
      {
         height: 150px;
         position: relative;         
         width: 170px;

         span
         {
            @include img('logo-b.jpg');
            bottom: -12px;
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
         }
      }

      .site-title
      {
         align-items: flex-end;
         display: flex;
         margin-left: 35px;
         padding-bottom: 25px;
         padding-right: 52px;
         position: relative;
         
         h1
         {
            color: #009bfa;
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            

            span
            {
               color: #193989;
               display: block;
               font-size: 54px;
               line-height: 1;
            }
         }

         &:before
         {
            @include before;
            background-color: rgba(0,0,0,0.2);
            border-radius: 3px;
            bottom: 30px;
            height: 71px;
            right: 0;
            width: 2px;
         }
      }

      .wrapper
      {
         @include flex;
         
         + span
         {
            background-color: $secondary-blue;
            display: block;
            height: 22px;
            width: 100%;
         }
      }

      .company
      {
         display: flex;
         flex: 1;
      }

      nav
      {
         align-items: flex-end;
         display: flex;
         justify-content: flex-end;
         padding-bottom: 28px;
         padding-right: 15px;

         ul
         {
            li
            {
               display: inline-block;
               float: left;

               &:not(:first-child)
               {
                  margin-left: 100px;
               }

               a
               {
                  font-size: 20px;
                  line-height: 1;
               }
            }
         }
      }
   }

   .insights &,
   .events &
   {
      h1 
      {
         font-size: 34px;
      }

      p
      {
         font-size: 15px;
      }
   }
}

section
{
   &.header-banner
   {
      @include img("banner-1.jpg");
      background-position: center;
      height: 525px;
      position: relative;

      .intro
      {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
         width: 560px;

         *
         {
            color: #fff;
         }
         
         h1 
         {
            font-size: 50px;
            font-weight: bold;
            line-height: 48px;
         }

         p
         {
            font-size: 36px;
            font-weight: 300;
            line-height: 1.2;
            margin-top: 30px;
         }
      }
   }

   &.insights,
   &.events
   {
      background-color: #ebebeb;
   }

   &.insights
   {
      padding: 50px 0 40px;

      ul
      {
         justify-content: space-between;
         margin-top: 20px;

         li
         {
            @include box-shadow(0 3px 10px rgba(0,0,0,0.1));
            background-color: #fff;
            border-radius: 3px;
            padding: 35px 24px 15px;
            width: 416px;

            h2,
            .img-container
            {
               display: block;
               margin: 0 auto;
               width: 100%;
            }

            h2 
            {
               font-size: 32px;
               font-weight: bold;
               line-height: 1;
               margin-top: 25px;
            }

            .img-container
            {
               height: 277px;
            }

            &:first-child
            {
               border-bottom: 12px solid $primary-blue;

               h2 
               {
                  color: $primary-blue;
               }
            }

            &:nth-child(2)
            {
               border-bottom: 12px solid #01a49c;

               h2 
               {
                  color: #01a49c;
               }
            }

            &:nth-child(3)
            {
               border-bottom: 12px solid #009bfa;

               h2 
               {
                  color: #009bfa;
               }
            }
         }
      }
   }

   &.commitment
   {
      @include img("banner-2.jpg");
      background-position: center;
      height: 447px;
      position: relative;

      *
      {
         color: #fff;
         text-align: center;
      }

      .wrapper
      {
         height: 100%;
         position: relative;
      }

      .content
      {
         left: 0;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
         width: 100%;

         h1 
         {
            font-size: 40px;
            font-weight: bold;
         }

         p
         {
            font-size: 24px;
            line-height: 1.2;
            margin-top: 12px;
         }

         a
         {
            @include ease3s;
            background-color: rgba(255,255,255,0);
            border: 1px solid #fff;
            display: block;
            font-size: 18px;
            font-weight: 600;
            margin: 55px auto 0;
            padding: 18px;
            width: 185px;

            &:hover
            {
               background-color: rgba(255,255,255,1);
               color: #000;
            }
         }
      }

      &:after
      {
         @include before;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
         /* IE9 SVG, needs conditional override of 'filter' to 'none' */
         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome4-9,Safari4-5 */
         background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
         background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10-11.50 */
         background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10 preview */
         background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
         bottom: 0;
         height: 24px;
         opacity: 0.2;
         width: 100%;
      }
   

      &:before
      {
         @include before;
         /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
         /* IE9 SVG, needs conditional override of 'filter' to 'none' */
         background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
         background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
         background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome4-9,Safari4-5 */
         background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
         background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10-11.50 */
         background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10 preview */
         background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
         height: 24px;
         opacity: 0.2;
         top: 0;
         width: 100%;
      }
   }

   &.events
   {
      padding-bottom: 100px;
      padding-top: 45px;

      ul
      {
         justify-content: space-between;
         margin-top: 60px;

         li
         {
            position: relative;
            width: 416px;

            .the-event *,
            .date *
            {
               display: block;
               color: #fff;
            }

            .date
            {
               background-color: $secondary-blue;
               left: 25px;
               padding: 17px 20px 10px;
               position: absolute;
               top: -18px;
               width: 93px;
               z-index: 1;

               *
               {
                  text-align: center;
               }

               .month
               {
                  font-size: 16px;
                  text-transform: uppercase;
               }

               .day
               {
                  font-size: 36px;
                  font-weight: bold;
               }

               &:before
               {
                  @include before;
                  left: -18px;
                  top: 0;
                  border-bottom: solid 9px #3b4e96;
                  border-right: solid 9px #3b4e96;
                  border-left: solid 9px transparent;
                  border-top: solid 9px transparent;
               }
            }

            .the-event
            {
               background-color: $primary-blue;
               padding: 90px 22px 105px;
               position: relative;

               h2 
               {
                  font-size: 28px;
                  font-weight: bold;
               }

               p
               {
                  font-size: 15px;
                  height: 35px;
                  margin-top: 3px;
               }

               a
               {
                  @include ease3s;
                  background-color: rgba(255,255,255,0);
                  border: 1px solid #fff;
                  display: block;
                  font-size: 18px;
                  font-weight: 600;
                  margin-top: 35px;
                  padding: 16px;
                  width: 182px;

                  &:hover
                  {
                     background-color: rgba(255,255,255,1);
                     color: #000;
                  }
               }

               &:after
               {
                  @include before;
                  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
                  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome4-9,Safari4-5 */
                  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10-11.50 */
                  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10 preview */
                  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
                  bottom: 0;
                  height: 77px;
                  left: 0;
                  opacity: 0.2;
                  width: 100%;
               }
            }

            .place
            {
               background-color: #ebebeb;
               bottom: 0;
               padding: 15px 20px 13px 0;
               position: absolute;
               right: 0;
               text-align: right;
               width: 330px;
               z-index: 1;

               span
               {
                  font-size: 24px;
                  font-weight: 600;
               }

               &:before
               {
                  @include before;
                  left: -60px;
                  top: 0;
                  border-bottom: solid 30px #ebebeb;
                  border-right: solid 30px #ebebeb;
                  border-left: solid 30px transparent;
                  border-top: solid 30px transparent;
               }
            }
         }
      }
   }
}

footer
{
   background-color: #707070;
   padding: 22px 0 45px;

   *
   {
      color: #fff;
      font-size: 14px;
   }

   .socials
   {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      ul
      {
         li
         {
            display: inline-block;
            float: left;

            &:first-child
            {
               line-height: 25px;
            }

            &:not(:first-child)
            {
               margin-left: 15px;

               a
               {
                  @include sprite;
                  height: 25px;
                  text-indent: -99999px;
                  width: 25px;

                  &.tw
                  {
                     background-position: -10px -11px;
                  }

                  &.fb
                  {
                     background-position: -47px -11px;
                  }

                  &.ln
                  {
                     background-position: -85px -11px;
                  }

                  &.email
                  {
                     background-position: -121px -11px;
                  }
               }
            }

            a
            {
               display: block;
            }
         }
      }
   }
}