.mobile-view
{
   display: none;
}

@media screen and (max-width: 1329px)
{
   .wrapper
   {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;

      header.desktop &,
      footer &
      {
         padding-left: 20px;
         padding-right: 20px;
      }
   }

   header.desktop
   {
      nav
      {
         ul
         {
            li
            {
               &:not(:first-child)
               {
                  margin-left: 50px;
               }
            }
         }
      }
   }

   section
   {
      &.header-banner
      {
         .wrapper
         {
            padding-left: 5%;
         }
      }

      &.insights
      {
         .wrapper
         {
            padding-left: 5%;
            padding-right: 5%;
         }

         ul
         {
            li
            {
               max-width: 400px;
               width: 32%;

               h2
               {
                  font-size: 26px;
               }
            }
         }
      }

      &.commitment
      {
         .content
         {
            padding-left: 5%;
            padding-right: 5%;
         }
      }

      &.events
      {
         ul
         {
            li
            {
               max-width: 400px;
               width: 32%;

               h2
               {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
               }
               
               .place
               {
                  width: 76%;

                  span
                  {
                     font-size: 18px;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1159px)
{
   header.desktop
   {
      .site-title
      {
         margin-left: 20px;
         padding-right: 30px;
      }
   }
}

@media screen and (max-width: 1025px)
{
   html,
   body
   {
      overflow-x: hidden;
   }

   .desktop-view
   {
      display: none;
   }

   .mobile-view
   {
      display: block;
   }

   .black-transparent
   {
      background-color: #000;
      display: none;
      height: 100%;
      opacity: 0.5;         
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;

      body.menu-open &
      {
         display: block;
      }
   }

   .wrapper
   {
      padding: 0;
   }

   header.mobile-view
   {
      background-color: #eaecee;
      padding-top: 6px;
      position: fixed; 
      width: 100%;        
      z-index: 3;

      .logo
      {
         margin: 0 auto;
         padding-bottom: 6px;
         width: 116.5px;

         span
         {
            @include img('logo-s.png');
            background-size: cover;
            display: block;
            height: 35px;
            width: 100%;
         }
      }

      .dd-menu
      {
         #toggle
         {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 20px;

            span
            {
               backface-visibility: hidden;
               background-color: $secondary-blue;
               border-radius: 10px;
               display: block;
               height: 2px;
               transition: all 0.3s;
               width: 100%;

               &:not(:first-child)
               {
                  margin-top: 5px;
               }
            }

            &.on
            {
               width: 18px;

               span
               {
                  //background-position: -259px -62px;
                  background-color: #d81e05;

                  &:first-child
                  {
                     transform: rotate(45deg) translate(3px, 6px);
                  }

                  &:nth-child(2)
                  {
                     opacity: 0;
                  }

                  &:nth-child(3)
                  {
                     transform: rotate(-45deg) translate(4px, -7px);
                  }
               }
            }
         }

         nav
         {
            background-color: #fff;
            display: none;
            position: absolute;
            width: 100%;

            ul
            {
               padding: 20px 30px 45px;

               li
               {
                  display: block;
                  text-align: center;

                  &:first-child
                  {
                     color: $secondary-blue;
                     border-bottom: 1px solid rgba(0,0,0,0.25);
                     font-size: 14px;
                     padding-bottom: 8px;
                  }

                  &:not(:first-child)
                  {
                     margin-top: 8px;
                  }

                  a
                  {
                     background-color: #ebebeb;
                     color: #707070;
                     display: block;
                     font-size: 14px;
                     padding: 15px;
                  }
               }
            }
         }
      }
   }

   section
   {
      &.header-banner
      {
         background: #1a9cf7;
         height: 430px;
         margin-top: 47px;

         h2
         {
            color: #fff;
            font-size: 16px;
            padding-top: 34px;
         }

         .intro
         {
            h1
            {
               font-size: 16px;
               font-weight: 300;
               line-height: 1.2;

               span
               {
                  display: block;
                  font-size: 32px;
                  font-weight: bold;
                  line-height: 1;
               }
            }

            p
            {
               font-size: 14px;
               font-weight: 600;
               line-height: 1.5;
               margin-top: 15px;
               padding-top: 15px;
               position: relative;

               &:before
               {
                  @include before;
                  border-top: 4px dotted rgba(255,255,255,0.3);
                  top: 0;
                  width: 28%;
               }
            }
         }
      }

      &.insights,
      &.events
      {
         header
         {
            margin-bottom: 18px;
            padding-left: 30px;
            padding-right: 30px;

            h1
            {
               font-size: 26px;

               span
               {
                  font-weight: bold;
               }
            }

            p
            {
               font-size: 14px;
            }
         }
      }

      &.insights
      {
         background-color: $secondary-blue;
         min-height: 430px;
         padding: 24px 0;

         .wrapper
         {
            padding-left: 0;
            padding-right: 0;
         }

         header
         {
            h1
            {
               color: #fff;
            }

            p
            {
               color: #ccd1e4;
            }
         }

         .carousel-content
         {
            @include box-shadow(0 3px 10px rgba(0,0,0,0.1));
            background-color: #fff;
            border-bottom: 6px solid #008c82;
            padding: 18px 12px 8px;
            width: 208px;

            h2,
            .img-container
            {
               display: block;
               margin: 0 auto;
               width: 100%;
            }

            h2 
            {
               color: #008c82;
               font-size: 18px;
               font-weight: bold;
               line-height: 1;
               margin-top: 13px;
            }

            .img-container
            {
               height: 140px;
            }
         }
      }

      &.commitment
      {
         height: 320px;

         .content
         {
            padding-left: 8%;
            padding-right: 8%;

            h1
            {
               font-size: 24px;
            }

            p
            {
               font-size: 14px;
               line-height: 1.2;
               margin-top: 6px;
            }

            a
            {
               font-size: 14px;
               margin-top: 25px;
               padding: 10px;
               width: 100px;
            }
         }
      }

      &.events
      {
         padding: 24px 0 15px;

         header
         {
            h1 
            {
               color: $secondary-blue;
            }

            p
            {
               color: #707070;
            }
         }

         .carousel-content
         {
            position: relative;
            width: 230px;

            > div
            {
               position: relative;
            }

            .the-event *,
            .date *
            {
               display: block;
            }

            .date
            {
               background-color: #fff;;
               left: 25px;
               padding: 8px 10px 4px;
               position: absolute;
               top: -18px;
               width: 65px;
               z-index: 1;

               *
               {
                  color: #008c82;
                  text-align: center;
               }

               .month
               {
                  font-size: 14px;
                  text-transform: uppercase;
               }

               .day
               {
                  font-size: 22px;
                  font-weight: bold;
               }

               &:before
               {
                  @include before;
                  left: -18px;
                  top: 0;
                  border-bottom: solid 9px #c0c0c0;
                  border-right: solid 9px #c0c0c0;
                  border-left: solid 9px transparent;
                  border-top: solid 9px transparent;
               }
            }

            .the-event
            {
               background-color: #001a7a;
               padding: 60px 25px 80px;
               position: relative;

               *
               {
                  color: #fff;
               }

               h2 
               {
                  font-size: 18px;
                  font-weight: bold;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
               }

               p
               {
                  font-size: 13px;
                  height: 26px;
                  line-height: 1;
                  margin-top: 8px;

                  //2 line ellipis
                  display: block;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  /* autoprefixer: off */
                  -webkit-box-orient: vertical;
                  overflow: hidden;
               }

               a
               {
                  @include ease3s;
                  background-color: rgba(255,255,255,0);
                  border: 1px solid #fff;
                  display: block;
                  font-size: 13px;
                  font-weight: 600;
                  margin-top: 30px;
                  padding: 10px;
                  width: fit-content;

                  &:hover
                  {
                     background-color: rgba(255,255,255,1);
                     color: #000;
                  }
               }
            }

            .place
            {
               background-color: #ebebeb;
               border: none;
               bottom: -1px;
               padding: 10px 10px 8px 0;
               position: absolute;
               right: 0;
               text-align: right;
               width: 175px;
               z-index: 1;

               span
               {
                  font-size: 14px;
                  font-weight: 600;
               }

               &:before
               {
                  @include before;
                  left: -60px;
                  top: 0;
                  border-bottom: solid 30px #ebebeb;
                  border-right: solid 30px #ebebeb;
                  border-left: solid 30px transparent;
                  border-top: solid 30px transparent;
               }
            }
         }

         .mobile-view
         {
            .logo
            {
               @include img("logo.png");
               background-size: cover;
               display: block;
               height: 35px;
               margin: 40px auto 0;
               width: 46px;
            }
         }
      }
   }

   footer
   {
      background-color: #cccccc;
      padding-bottom: 30px;

      .wrapper
      {
         padding: 0 30px 0;
      }

      .mobile-view
      {
         nav
         {
            ul
            {
               li
               {                  
                  text-align: center;

                  a
                  {
                     background-color: #eaecee;
                     color: #707070;
                     display: block;
                     font-weight: bold;
                     font-size: 14px;
                     padding: 15px;
                  }
               }

               &:first-child
               {
                  justify-content: space-between;

                  li
                  {
                     flex: 0 0 48.5%;
                  }
               }

               &:nth-child(2)
               {
                  margin-top: 15px;

                  li
                  {
                     &:first-child
                     {
                        color: #193989;
                        border-bottom: 1px solid rgba(0,0,0,0.25);
                        font-size: 14px;
                        padding-bottom: 8px;
                     }

                     &:not(:first-child)
                     {
                        margin-top: 8px;
                     }
                  }
               }
            }
         }
      } 
   }

   .slick
   {
      &-list
      {
         section.insights &
         {
            height: 280px;
         }

         section.events &
         {
            height: 345px;
            padding-top: 50px !important;
         }

         *
         {
            :focus 
            {
               outline: 0;
            }
         }
      }

      &-slide
      {
         margin-right: 45px;
      }

      &-current
      {
         section.insights &
         {
            padding-top: 22px;
         }

         .carousel-content
         {
            transform: scale(1.2);

            section.insights &
            {
               transform: scale(1.3);
            }
         }
      }

      &-dots
      {
         margin-top: 15px !important;
         text-align: center;

         li
         {
            @include box-shadow(none);
            background-color: transparent !important;
            border-bottom: none !important;
            border: 1px solid #b7b7b7 !important;
            border-radius: 50% !important;
            display: inline-block;
            height: 10px;
            margin: 0 5px;
            padding: 0 !important;
            position: relative;
            width: 10px !important;
               max-width: none;

            button
            {
               background-color: transparent;
               height: 100%;
               left: 0;
               position: absolute;
               text-indent: -9999px;
               top: 0;
               width: 100%;
            }

            &.slick-active
            {
               button
               {
                  background-color: #b7b7b7;
               }
            }
         }
      }
   }
}