@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap');

$imgURL: "../images";
$primary-blue: #1450d2;
$secondary-blue: #001254;

// ===== MIXINS =====
@mixin img ($img)
{ 
	background: url("#{$imgURL}/#{$img}") no-repeat;
}

@mixin box-shadow ($shadow...) 
{
   box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      -webkit-box-shadow: $shadow;
}

@mixin clearfix
{
	&:after,
	&:before
	{
      content: "";
      display: table;
	}
	
	&:after
	{
		clear: both;
	}
}

@mixin flex
{
	display: flex;	
		display: -ms-flexbox;
		display: -webkit-flex;		
}

@mixin before
{
	content: "";
	position: absolute;
}

@mixin sprite
{
   @include img('sprite.png');
}

@mixin ease3s
{
	transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
}

.div-row
{
   @include flex;
   flex-wrap: wrap;

	> [class*="col"]
   {
      padding-top: 10px;
      padding-right: 10px;
   }
}

.clearfix
{
	@include clearfix;
}

.img-container
{
   overflow: hidden;
   position: relative;

   img
   {
      bottom: 0;
      display: block;
      height: 100%;
      left: -50%;
      margin: auto;
      object-fit: cover;
      position: absolute;
      right: -50%;
      text-align: center;
      top: 0;
      width: 100%;
   }
}