@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
.div-row {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
}
.div-row > [class*=col] {
  padding-top: 10px;
  padding-right: 10px;
}

.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-container {
  overflow: hidden;
  position: relative;
}
.img-container img {
  bottom: 0;
  display: block;
  height: 100%;
  left: -50%;
  margin: auto;
  object-fit: cover;
  position: absolute;
  right: -50%;
  text-align: center;
  top: 0;
  width: 100%;
}

* {
  font-family: "Nunito Sans", "Helvetica", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 1296px;
}

header.desktop-view {
  background-color: #fff;
  padding-top: 8px;
  position: relattive;
}
header.desktop-view .logo {
  height: 150px;
  position: relative;
  width: 170px;
}
header.desktop-view .logo span {
  background: url("../images/logo-b.jpg") no-repeat;
  bottom: -12px;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
header.desktop-view .site-title {
  align-items: flex-end;
  display: flex;
  margin-left: 35px;
  padding-bottom: 25px;
  padding-right: 52px;
  position: relative;
}
header.desktop-view .site-title h1 {
  color: #009bfa;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}
header.desktop-view .site-title h1 span {
  color: #193989;
  display: block;
  font-size: 54px;
  line-height: 1;
}
header.desktop-view .site-title:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  bottom: 30px;
  height: 71px;
  right: 0;
  width: 2px;
}
header.desktop-view .wrapper {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}
header.desktop-view .wrapper + span {
  background-color: #001254;
  display: block;
  height: 22px;
  width: 100%;
}
header.desktop-view .company {
  display: flex;
  flex: 1;
}
header.desktop-view nav {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 28px;
  padding-right: 15px;
}
header.desktop-view nav ul li {
  display: inline-block;
  float: left;
}
header.desktop-view nav ul li:not(:first-child) {
  margin-left: 100px;
}
header.desktop-view nav ul li a {
  font-size: 20px;
  line-height: 1;
}
.insights header h1, .events header h1 {
  font-size: 34px;
}
.insights header p, .events header p {
  font-size: 15px;
}

section.header-banner {
  background: url("../images/banner-1.jpg") no-repeat;
  background-position: center;
  height: 525px;
  position: relative;
}
section.header-banner .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 560px;
}
section.header-banner .intro * {
  color: #fff;
}
section.header-banner .intro h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 48px;
}
section.header-banner .intro p {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 30px;
}
section.insights, section.events {
  background-color: #ebebeb;
}
section.insights {
  padding: 50px 0 40px;
}
section.insights ul {
  justify-content: space-between;
  margin-top: 20px;
}
section.insights ul li {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 35px 24px 15px;
  width: 416px;
}
section.insights ul li h2,
section.insights ul li .img-container {
  display: block;
  margin: 0 auto;
  width: 100%;
}
section.insights ul li h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  margin-top: 25px;
}
section.insights ul li .img-container {
  height: 277px;
}
section.insights ul li:first-child {
  border-bottom: 12px solid #1450d2;
}
section.insights ul li:first-child h2 {
  color: #1450d2;
}
section.insights ul li:nth-child(2) {
  border-bottom: 12px solid #01a49c;
}
section.insights ul li:nth-child(2) h2 {
  color: #01a49c;
}
section.insights ul li:nth-child(3) {
  border-bottom: 12px solid #009bfa;
}
section.insights ul li:nth-child(3) h2 {
  color: #009bfa;
}
section.commitment {
  background: url("../images/banner-2.jpg") no-repeat;
  background-position: center;
  height: 447px;
  position: relative;
}
section.commitment * {
  color: #fff;
  text-align: center;
}
section.commitment .wrapper {
  height: 100%;
  position: relative;
}
section.commitment .content {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
}
section.commitment .content h1 {
  font-size: 40px;
  font-weight: bold;
}
section.commitment .content p {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 12px;
}
section.commitment .content a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 55px auto 0;
  padding: 18px;
  width: 185px;
}
section.commitment .content a:hover {
  background-color: white;
  color: #000;
}
section.commitment:after {
  content: "";
  position: absolute;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 );
  /* IE6-8 */
  bottom: 0;
  height: 24px;
  opacity: 0.2;
  width: 100%;
}
section.commitment:before {
  content: "";
  position: absolute;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a6000000", endColorstr="#00000000",GradientType=0 );
  /* IE6-8 */
  height: 24px;
  opacity: 0.2;
  top: 0;
  width: 100%;
}
section.events {
  padding-bottom: 100px;
  padding-top: 45px;
}
section.events ul {
  justify-content: space-between;
  margin-top: 60px;
}
section.events ul li {
  position: relative;
  width: 416px;
}
section.events ul li .the-event *,
section.events ul li .date * {
  display: block;
  color: #fff;
}
section.events ul li .date {
  background-color: #001254;
  left: 25px;
  padding: 17px 20px 10px;
  position: absolute;
  top: -18px;
  width: 93px;
  z-index: 1;
}
section.events ul li .date * {
  text-align: center;
}
section.events ul li .date .month {
  font-size: 16px;
  text-transform: uppercase;
}
section.events ul li .date .day {
  font-size: 36px;
  font-weight: bold;
}
section.events ul li .date:before {
  content: "";
  position: absolute;
  left: -18px;
  top: 0;
  border-bottom: solid 9px #3b4e96;
  border-right: solid 9px #3b4e96;
  border-left: solid 9px transparent;
  border-top: solid 9px transparent;
}
section.events ul li .the-event {
  background-color: #1450d2;
  padding: 90px 22px 105px;
  position: relative;
}
section.events ul li .the-event h2 {
  font-size: 28px;
  font-weight: bold;
}
section.events ul li .the-event p {
  font-size: 15px;
  height: 35px;
  margin-top: 3px;
}
section.events ul li .the-event a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: 35px;
  padding: 16px;
  width: 182px;
}
section.events ul li .the-event a:hover {
  background-color: white;
  color: #000;
}
section.events ul li .the-event:after {
  content: "";
  position: absolute;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10 preview */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 );
  /* IE6-8 */
  bottom: 0;
  height: 77px;
  left: 0;
  opacity: 0.2;
  width: 100%;
}
section.events ul li .place {
  background-color: #ebebeb;
  bottom: 0;
  padding: 15px 20px 13px 0;
  position: absolute;
  right: 0;
  text-align: right;
  width: 330px;
  z-index: 1;
}
section.events ul li .place span {
  font-size: 24px;
  font-weight: 600;
}
section.events ul li .place:before {
  content: "";
  position: absolute;
  left: -60px;
  top: 0;
  border-bottom: solid 30px #ebebeb;
  border-right: solid 30px #ebebeb;
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
}

footer {
  background-color: #707070;
  padding: 22px 0 45px;
}
footer * {
  color: #fff;
  font-size: 14px;
}
footer .socials {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
footer .socials ul li {
  display: inline-block;
  float: left;
}
footer .socials ul li:first-child {
  line-height: 25px;
}
footer .socials ul li:not(:first-child) {
  margin-left: 15px;
}
footer .socials ul li:not(:first-child) a {
  background: url("../images/sprite.png") no-repeat;
  height: 25px;
  text-indent: -99999px;
  width: 25px;
}
footer .socials ul li:not(:first-child) a.tw {
  background-position: -10px -11px;
}
footer .socials ul li:not(:first-child) a.fb {
  background-position: -47px -11px;
}
footer .socials ul li:not(:first-child) a.ln {
  background-position: -85px -11px;
}
footer .socials ul li:not(:first-child) a.email {
  background-position: -121px -11px;
}
footer .socials ul li a {
  display: block;
}

.mobile-view {
  display: none;
}

@media screen and (max-width: 1329px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
  }
  header.desktop .wrapper, footer .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  header.desktop nav ul li:not(:first-child) {
    margin-left: 50px;
  }

  section.header-banner .wrapper {
    padding-left: 5%;
  }
  section.insights .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
  section.insights ul li {
    max-width: 400px;
    width: 32%;
  }
  section.insights ul li h2 {
    font-size: 26px;
  }
  section.commitment .content {
    padding-left: 5%;
    padding-right: 5%;
  }
  section.events ul li {
    max-width: 400px;
    width: 32%;
  }
  section.events ul li h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section.events ul li .place {
    width: 76%;
  }
  section.events ul li .place span {
    font-size: 18px;
  }
}
@media screen and (max-width: 1159px) {
  header.desktop .site-title {
    margin-left: 20px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1025px) {
  html,
body {
    overflow-x: hidden;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .black-transparent {
    background-color: #000;
    display: none;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  body.menu-open .black-transparent {
    display: block;
  }

  .wrapper {
    padding: 0;
  }

  header.mobile-view {
    background-color: #eaecee;
    padding-top: 6px;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  header.mobile-view .logo {
    margin: 0 auto;
    padding-bottom: 6px;
    width: 116.5px;
  }
  header.mobile-view .logo span {
    background: url("../images/logo-s.png") no-repeat;
    background-size: cover;
    display: block;
    height: 35px;
    width: 100%;
  }
  header.mobile-view .dd-menu #toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
  }
  header.mobile-view .dd-menu #toggle span {
    backface-visibility: hidden;
    background-color: #001254;
    border-radius: 10px;
    display: block;
    height: 2px;
    transition: all 0.3s;
    width: 100%;
  }
  header.mobile-view .dd-menu #toggle span:not(:first-child) {
    margin-top: 5px;
  }
  header.mobile-view .dd-menu #toggle.on {
    width: 18px;
  }
  header.mobile-view .dd-menu #toggle.on span {
    background-color: #d81e05;
  }
  header.mobile-view .dd-menu #toggle.on span:first-child {
    transform: rotate(45deg) translate(3px, 6px);
  }
  header.mobile-view .dd-menu #toggle.on span:nth-child(2) {
    opacity: 0;
  }
  header.mobile-view .dd-menu #toggle.on span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -7px);
  }
  header.mobile-view .dd-menu nav {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
  }
  header.mobile-view .dd-menu nav ul {
    padding: 20px 30px 45px;
  }
  header.mobile-view .dd-menu nav ul li {
    display: block;
    text-align: center;
  }
  header.mobile-view .dd-menu nav ul li:first-child {
    color: #001254;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
    padding-bottom: 8px;
  }
  header.mobile-view .dd-menu nav ul li:not(:first-child) {
    margin-top: 8px;
  }
  header.mobile-view .dd-menu nav ul li a {
    background-color: #ebebeb;
    color: #707070;
    display: block;
    font-size: 14px;
    padding: 15px;
  }

  section.header-banner {
    background: #1a9cf7;
    height: 430px;
    margin-top: 47px;
  }
  section.header-banner h2 {
    color: #fff;
    font-size: 16px;
    padding-top: 34px;
  }
  section.header-banner .intro h1 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
  }
  section.header-banner .intro h1 span {
    display: block;
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }
  section.header-banner .intro p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
  }
  section.header-banner .intro p:before {
    content: "";
    position: absolute;
    border-top: 4px dotted rgba(255, 255, 255, 0.3);
    top: 0;
    width: 28%;
  }
  section.insights header, section.events header {
    margin-bottom: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
  section.insights header h1, section.events header h1 {
    font-size: 26px;
  }
  section.insights header h1 span, section.events header h1 span {
    font-weight: bold;
  }
  section.insights header p, section.events header p {
    font-size: 14px;
  }
  section.insights {
    background-color: #001254;
    min-height: 430px;
    padding: 24px 0;
  }
  section.insights .wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  section.insights header h1 {
    color: #fff;
  }
  section.insights header p {
    color: #ccd1e4;
  }
  section.insights .carousel-content {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-bottom: 6px solid #008c82;
    padding: 18px 12px 8px;
    width: 208px;
  }
  section.insights .carousel-content h2,
section.insights .carousel-content .img-container {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  section.insights .carousel-content h2 {
    color: #008c82;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin-top: 13px;
  }
  section.insights .carousel-content .img-container {
    height: 140px;
  }
  section.commitment {
    height: 320px;
  }
  section.commitment .content {
    padding-left: 8%;
    padding-right: 8%;
  }
  section.commitment .content h1 {
    font-size: 24px;
  }
  section.commitment .content p {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 6px;
  }
  section.commitment .content a {
    font-size: 14px;
    margin-top: 25px;
    padding: 10px;
    width: 100px;
  }
  section.events {
    padding: 24px 0 15px;
  }
  section.events header h1 {
    color: #001254;
  }
  section.events header p {
    color: #707070;
  }
  section.events .carousel-content {
    position: relative;
    width: 230px;
  }
  section.events .carousel-content > div {
    position: relative;
  }
  section.events .carousel-content .the-event *,
section.events .carousel-content .date * {
    display: block;
  }
  section.events .carousel-content .date {
    background-color: #fff;
    left: 25px;
    padding: 8px 10px 4px;
    position: absolute;
    top: -18px;
    width: 65px;
    z-index: 1;
  }
  section.events .carousel-content .date * {
    color: #008c82;
    text-align: center;
  }
  section.events .carousel-content .date .month {
    font-size: 14px;
    text-transform: uppercase;
  }
  section.events .carousel-content .date .day {
    font-size: 22px;
    font-weight: bold;
  }
  section.events .carousel-content .date:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 0;
    border-bottom: solid 9px #c0c0c0;
    border-right: solid 9px #c0c0c0;
    border-left: solid 9px transparent;
    border-top: solid 9px transparent;
  }
  section.events .carousel-content .the-event {
    background-color: #001a7a;
    padding: 60px 25px 80px;
    position: relative;
  }
  section.events .carousel-content .the-event * {
    color: #fff;
  }
  section.events .carousel-content .the-event h2 {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  section.events .carousel-content .the-event p {
    font-size: 13px;
    height: 26px;
    line-height: 1;
    margin-top: 8px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  section.events .carousel-content .the-event a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-top: 30px;
    padding: 10px;
    width: fit-content;
  }
  section.events .carousel-content .the-event a:hover {
    background-color: white;
    color: #000;
  }
  section.events .carousel-content .place {
    background-color: #ebebeb;
    border: none;
    bottom: -1px;
    padding: 10px 10px 8px 0;
    position: absolute;
    right: 0;
    text-align: right;
    width: 175px;
    z-index: 1;
  }
  section.events .carousel-content .place span {
    font-size: 14px;
    font-weight: 600;
  }
  section.events .carousel-content .place:before {
    content: "";
    position: absolute;
    left: -60px;
    top: 0;
    border-bottom: solid 30px #ebebeb;
    border-right: solid 30px #ebebeb;
    border-left: solid 30px transparent;
    border-top: solid 30px transparent;
  }
  section.events .mobile-view .logo {
    background: url("../images/logo.png") no-repeat;
    background-size: cover;
    display: block;
    height: 35px;
    margin: 40px auto 0;
    width: 46px;
  }

  footer {
    background-color: #cccccc;
    padding-bottom: 30px;
  }
  footer .wrapper {
    padding: 0 30px 0;
  }
  footer .mobile-view nav ul li {
    text-align: center;
  }
  footer .mobile-view nav ul li a {
    background-color: #eaecee;
    color: #707070;
    display: block;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
  }
  footer .mobile-view nav ul:first-child {
    justify-content: space-between;
  }
  footer .mobile-view nav ul:first-child li {
    flex: 0 0 48.5%;
  }
  footer .mobile-view nav ul:nth-child(2) {
    margin-top: 15px;
  }
  footer .mobile-view nav ul:nth-child(2) li:first-child {
    color: #193989;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
    padding-bottom: 8px;
  }
  footer .mobile-view nav ul:nth-child(2) li:not(:first-child) {
    margin-top: 8px;
  }

  section.insights .slick-list {
    height: 280px;
  }
  section.events .slick-list {
    height: 345px;
    padding-top: 50px !important;
  }
  .slick-list * :focus {
    outline: 0;
  }
  .slick-slide {
    margin-right: 45px;
  }
  section.insights .slick-current {
    padding-top: 22px;
  }
  .slick-current .carousel-content {
    transform: scale(1.2);
  }
  section.insights .slick-current .carousel-content {
    transform: scale(1.3);
  }
  .slick-dots {
    margin-top: 15px !important;
    text-align: center;
  }
  .slick-dots li {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent !important;
    border-bottom: none !important;
    border: 1px solid #b7b7b7 !important;
    border-radius: 50% !important;
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    padding: 0 !important;
    position: relative;
    width: 10px !important;
    max-width: none;
  }
  .slick-dots li button {
    background-color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
  }
  .slick-dots li.slick-active button {
    background-color: #b7b7b7;
  }
}

/*# sourceMappingURL=importer.css.map */
